body {
    background-color: rgb(158, 195, 247);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
  }

  h1{
    color: white;
    font-size: 250px;
    font-kerning: auto;
  }

  p{
    color:black;
    font-size: 100px;
    font-kerning: auto;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    z-index: 3;
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  nav a:hover {
    transform: scale(1.2);
    color: #ff00cc;
  }
  
  .home-btn {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: rgba(19, 29, 104, 0.5);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(160, 20, 142, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  
  .dropdown-content a:hover {
    background-color: #ff00001a;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }